body {
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.hero-section {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    background-color: #1F2937;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.hero-image img {
    height: auto;
    width: 500px;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}

.hero-section p {
    margin: 0px;
}

.hero-section button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 6px;
    border-color: transparent;
}
.card-section h2 {
    color: #1F2927;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 0px;
}
.cards {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    justify-content: space-between;
    
}
.card img {
    height: auto;
    width: 200px;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 16px;
    margin-top: 25px;
}

.card-section {
    margin-top: 75px;
    margin-bottom: 100px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 200px;
}

.quote {
       font-size: 36px;
       font-weight: 300;
}

.author {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.cta-section {
    padding: 100px 150px;
}
.cta {
    background-color: #3882F6;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #F9FAF8;
    padding: 20px;
}

.cta button {
    background: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 6px;
    border-color: #f9f9f9;
    border-width: 1px;

}
.cta p {
    margin: 0px;
    font-weight: 300;
}

.cta h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 25px;
}