body {
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.hero {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    background-color: #1F2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.hero-image img {
    height: auto;
    width: 500px;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}

.hero p {
    margin: 0px;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 6px;
    border-color: transparent;
}